.sidebar {
  position: fixed;
  width: 33.3333%;
  min-height: 95vh;
  top: 38px;
  left: 0;
  background-color: #f7f7f7;
  border-right: 1px solid black;
}

.sidebar-item {
  border-bottom: 1px solid black;
  padding-bottom: 10px;
  padding-top: 5px;
  padding: 5px 20px;
}

.sidebar-item:hover {
  background-color: aqua;
  /* cursor: pointer; */
}

.sidebar-item__name {
  margin: 0;
  font-weight: 500;
}
.sidebar-item__description {
  margin: 0;
  font-size: 14px;
}

.centre-div {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 18px;
}
